.ui.navbar.inverted.menu{
  position: relative;
  visibility: initial;
  color: red;
  z-index: 2;
  font-size: 2rem;
  background: #F6A7AF;
}
.ui.sidebar.vertical.inverted.menu{
  position: fixed;
  visibility:initial;
  z-index: 1;
  background: #7AC5B6;
  font-size: 2rem;
}

.ui.longer.modal {
  position: sticky;
  left: 300px;
  top: 150px;
}
.modal{
  position: absolute;
  left: 300px;
  top: 300px;
}
.visible.content{
  width:200px;
  height:200px;
}
