.ui.navbar.inverted.menu{
 position: relative;
 visibility: initial;
 color: #fff;
 z-index: 2;
 font-size: 2rem;
 background: #5C7D77;
}
.ui.longer.modal {
  position: sticky;
  left: 300px;
  top: 150px;
}
.modal{
  position: absolute;
  left: 300px;
  top: 300px;
}
.visible.content{
  width:290px;
  height:200px;
}
.column{
  padding:0px !important;
}
.ui.button{
  padding:0px !important;
}
.content{
  padding:0px !important;
}
.ui.card{
  margin:0px;
}
.right{
   position: absolute;
   right: 2px;
}

.image.container{
  position: relative;
  text-align: center;
  color: white;
}

.bottom.left{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header{
  background: rgba(255,255,255,0);
}

.name{
  color: white;
  font-size: 2rem;
}

.description{
  background: rgba(255,255,255,0);
}
